<h2>Responsable</h2>
<div class="card">
  <div class="card-header">
    Añadir Resposable
  </div>
  <div class="card-body">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
      </div>
      <input type="text" [(ngModel)]="Nombre" class="form-control">
    </div>

    <!-- <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">FechaCreacion</span>
      </div>
      <input type="text" [(ngModel)]="FechaCreacion" class="form-control">
    </div> -->

    <!-- <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">FechaLimite</span>
      </div>
      <input type="text" [(ngModel)]="FechaLimite" class="form-control">
    </div> -->

    <!-- <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Estado</span>
      </div>
      <input type="text" [(ngModel)]="Estado" class="form-control">
    </div> -->

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Responsable</span>
      </div>
      <input type="text" [(ngModel)]="Responsable" class="form-control">
    </div>

    <button class="btn btn-primary"  (click)="agregarResponsable()">Crear Actividad</button>

  </div>
</div>

<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Fecha de Creacion</th>
      <th scope="col">Fecha Limite</th>
      <th scope="col">Estado</th>
      <th scope="col">Responsable</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let actividad of actividades">
      <td>{{actividad['Nombres']}}</td>
      <td>{{actividad['Apellidos']}}</td>
      <td>{{actividad['NumeroIdentificacion']}}</td>
      <td>{{actividad['Email']}}</td>
      <td>{{actividad['Telefono']}}</td>
    </tr>
  </tbody>
</table>
